@model CodeTheWay.Web.Ui.Models.ViewModels.ShippingContainerRegistrationViewModel
@*
    ViewData["Title"] = "Details";
*@
<div class="container-fluid">
    <h1 class="tableLinks">Details</h1>
    <p class="tableLinks">Weight:  @Model.Weight</p>
    <p class="tableLinks">Destination:  @Model.Destination</p>
    <div>
        <a asp-action="Index" class="tableLinks">Back to List</a>
    </div>
</div>

